$bg: #282828;
$bg1: #504945;
$fg: #ebdbb2;

* {
  font-family: Jetbrains Mono;
  font-weight: Bold;
}

/* Bar */
@import 'widgets/bar/scss/main.scss';

/* Menu */
@import 'widgets/menu/scss/main.scss';

/* Calendar */
@import 'widgets/calendar/scss/main.scss';

/* Weather */
@import 'widgets/weather/scss/main.scss';

/* Volume menu */
@import 'widgets/volume/scss/main.scss';

/* Lock menu */
@import 'widgets/lock/scss/main.scss';
