.power-off-w {
  background-color: $fg;
  color: $bg;
  margin: 0px 0px 10px 70px;
  border-radius: 6px;
}

.reboot-w {
  background-color: $fg;
  color: $bg;
  margin: 0px 35px 10px 35px;
  border-radius: 6px;
}

.exit-w {
  background-color: $fg;
  color: $bg;
  margin: 0px 70px 10px 0px;
  border-radius: 6px;
}
