.good-day-class {
  font-size: 40px;
  margin: 1.5em 25px 0px 0px;
}

.date-class {
  font-size: 30px;
  margin: 0px 25px 0px 0px;
}

.date-time-class {
  font-size: 25px;
  margin: 0px 25px 35px 0px;
}

.lock-icon-class {
  font-size: 40px;
  margin: 0px 25px 0px 0px;
}
