.power {
  background: $fg;
  color: $bg;
  min-width: 1.2em;
  padding: 1px 4px 1px 4px;
  margin: 7px 0px 7px 10px;
}

.volm {
  background: $bg;
  padding: 0px 5px 0px 3px;
  margin: 6px 0px 6px 0px;
}
