.menu {
  background: $bg;
}

.text-w {
  margin: 10px 8em 0px 10px;
}

.close-w {
  background: $fg;
  color: $bg;
  padding: 0px 0px 0px 0px;
  margin: 10px 10px 0px 9.4em;
}

.avatar-w {
  	background-size: 90px;
	min-height: 90px;
	min-width: 90px;
}

.good-day-w {
  font-size: 30px;
  margin: 2px 0px 0px 0px;
}

.informat-w {
  font-size: 15px;
  margin: 0px 0px 10px 0px;
}

.search-w {
  background: $fg;
  color: $bg;
  margin: 0px 3em 1em 3em;
  padding: 4px 3px 4px 3px;
  border-radius: 6px;
}

.reboot-w,
.exit-w,
.power-off-w {
}

.power-off-w {
  background-color: $fg;
  color: $bg;
  margin: 0px 0px 10px 70px;
  border-radius: 6px;
}

.reboot-w {
  background-color: $fg;
  color: $bg;
  margin: 0px 35px 10px 35px;
  border-radius: 6px;
}

.exit-w {
  background-color: $fg;
  color: $bg;
  margin: 0px 70px 10px 0px;
  border-radius: 6px;
}
