.workspaces {
  background: $bg;
  color: $fg;
  border-radius: 12px;
  padding: 3px 6px 3px 6px;
  margin: 4px 3px 4px 3px;
}

.w {
  background: $bg1;
  color: $fg;
  padding: 0px 4px;
  margin: 0px 3px;
}

.w-actv {
  background: $fg;
  color: $bg;
  padding: 0px 4px;
  margin: 0px 3px;
}
