.volm {
  background: $bg;
  padding: 0px 5px 0px 3px;
  margin: 6px 0px 6px 0px;
}

.volume-scale {
  background: $bg;
  padding: 15px 3.8em 15px 20px;
  border: 5px solid $bg;
}

.close-button-vol {
  background: $fg;
  color: $bg;
  margin: 9px 10px 15px 16.2em;
  padding: 0px;
}
