.screen-custom {
  padding: 0px 10px 0px 10px;
  margin: 0px 2px 4px 2px;
  background: $fg;
  color: $bg;
}

.screen-full {
  padding: 0px 10px 0px 10px;
  margin: 0px 2px 4px 2px;
  background: $fg;
  color: $bg;
}

.screen-single {
  padding: 0px 10px 0px 10px;
  margin: 0px 2px 4px 2px;
  background: $fg;
  color: $bg;
}

.screen-settings {
  padding: 0px 10px 0px 10px;
  margin: 0px 2px 4px 2px;
  background: $fg;
  color: $bg;
}

.screen-close {
  padding: 0px 10px 0px 10px;
  margin: 0px 2px 4px 2px;
  background: $fg;
  color: $bg;
}
